*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* centering all the content */
.center-container {
  max-width: 1000px;
  margin: 0 auto;
}

.center-container-2 {
  max-width: 850px;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* HEADER */

.header {
  background: #1f2937;
  padding: 15px 0;
}

.header .center-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.menu a {
  padding: 10px 20px;
  color: #e5e7eb;
}

/* HERO CONTAINER */
.hero-container {
  background: #1f2937;
  color: #fff;
  padding: 100px 0;
}

.hero-container .center-container {
  display: flex;
  align-items: center;
}

.left-column {
  flex-basis: 55%;
}

.right-column {
  flex-basis: 45%;
}

.left-column {
  padding-right: 50px;
}

.left-column h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 20px;
}

.left-column p {
  padding-right: 90px;
  line-height: 1.5;
}

.left-column button {
  margin-top: 35px;
  background: #3b82f6;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}

/* Spidey Facts */
.spidey-facts {
  padding: 60px 0;
}

.spidey-facts h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}

.main-column {
  display: flex;
  justify-content: space-between;
}

.main-column div {
  flex-basis: 180px;
  text-align: center;
  color: #5b6471;
  font-size: 15px;
}

.main-column img {
  height: 180px;
  object-fit: cover;
  border: 4px solid #3b82f6;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Testimonials */
.testimonial {
  background: #e5e7eb;
  padding: 100px 0;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.quote-author {
  color: #1f2937;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
}

/* Call to Action */
.call-to-action {
  padding: 100px 0;
}
.call-to-action .center-container {
  background-color: #3882f6;
  padding: 50px 0;
  border-radius: 10px;
}

.call-to-action .center-container-2 {
  padding: 0 30px;
}

.cta-content {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.cta-text {
  flex-basis: 450px;
}

.cta-text h3 {
  font-size: 20px;
}

.cta-text p {
  color: #e5e7eb;
  margin-top: 5px;
  font-size: 15px;
}

.cta-button button {
  background: transparent;
  border: 2px solid #fff;
  padding: 6px 30px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

/* Footer */
.footer {
  padding: 40px 0;
  background-color: #1f2937;
  color: #fff;
  text-align: center;
}

.footer p {
  font-weight: 300;
}
